{% extends "base.html" %}
<!--Header Region-->
{% block title %}About Us{% endblock %}

{% block additionalCSS %}
{% endblock %}

<!-- Page Content Body Region -->
{% block mainContent %}
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
          <h1 class="mt-5">
              About Us
          </h1>
        <p class="mt-5">
            The idea was born from the many hours of frustration researching for <strong>valid</strong> and <strong>reliable</strong>
            data. As time is limited, we seek to eliminate this certain negativity in our day to day life. We strongly feel
            that this could be the big step forward for many search engines but with advertising money on the
            line, many may not feel the need to over optimize searches. So here we are with no advertising
            money, limited computing resources and a school project to finish, we present to you TextCruncher!
        </p>
        <p>
            TextCruncher scrapes the web and basically generate a data file with all the needed information you
            need. The data is as relevant and valid as google could provide us. Just enjoy using this all convenient
            program.
        </p>
        <p>
            The mechanics at work is a wonder, many packages have been developed by established
            organizations and programmers. One package that will be heavily utilize over the years would be
            “tensorflow”. This package focuses on improving the structure of the program “brain”. The program
            is currently running of tensorflow 1.8 version and we are still looking forward to integrate the source
            codes to run on tensorflow 2.0, the newest version at as the time of writing.
        </p>
      </div>
    </div>
</div>
{% endblock %}

{% block additionalscripts %}
{% endblock %}