{% extends "base.html" %}
{% block title %}Home{% endblock %}

<!-- Page Content -->
{% block mainContent %}
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">{% block h1 %}{% endblock %}</h1>
          <img src="./static/images/text-crunchlogo.jpg" class="animated pulse" id="animated-logo">
          <div class="form-group">
            <form id="getUserInput" action="{{ url_for('scrape_now') }}" method="post">
                <label class="control-label requiredField" for="input">
                  Please input at least one query <mark>up to 5 at once</mark>
                <span class="asteriskField">*</span>
                </label>
                <textarea id="input" class="form-control" name="queries" rows="3" placeholder="Enter Your Queries Here" required autofocus></textarea>
                <span class="help-block" id="hint_textarea">
                    <span class="text-muted">Please separate your queries with a ',' comma in between each</span>
                </span>
                <br/>
                <button type="submit" id="btnFetch" class="btn btn-primary mb-2">Run</button>
            </form>
          </div>
      </div>
    </div>
</div>

{% endblock %}

{% block additionalscripts %}
<script>

$("#btnFetch").click(function() {
    // disable button
    $(this).prop("disabled", true);
    // add spinner to button
    $(this).html(
    '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...'
    );
    document.getElementById("getUserInput").submit(); //Submits form
});

var input = document.getElementById("input");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("btnFetch").click(
   function() {
		// disable button
		$(this).prop("disabled", true);
		// add spinner to button
		$(this).html(
		'<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...'
		);
		document.getElementById("getUserInput").submit(); //Submits form
		});
	}
});
</script>
{% endblock %}